.editableText {
  outline: 0;
  padding: 4px 22px 4px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.view-header__entity-title {
  font-size: 22px;
  box-sizing: border-box;
  padding: 4px 22px 4px 4px;
  font-weight: 400;
  display: inline-block;
}

.editableText.active {
  background: #fff;
  cursor: text;
  border-color: rgba(64,66,73,0.2);
}

.view-header__entity-title.editableText.active {
  word-break: break-all;
  word-wrap: break-word;
}